<h1><%= @page_title %></h1>

<form action="/stylists/<%= @stylist.id %>/clients/new" method="post">
  <div class="form-group">
    <label for="name">Client Name</label>
    <input id="name" name="name" type="text">
  </div>
  <div class="form-group">
    <label for="phone">Client Phone</label>
    <input id="phone" name="phone" type="text">
  </div>
  <div class="form-group">
    <label for="location">Client Location</label>
    <input id="location" name="location" type="text">
  </div>
  <button type="submit">Add Client</button>
</form>

<a href="/">home</a>
