<h1><%= @page_title %></h1>

<a href="/stylist_form">Add a Stylist</a>

<hr>


<% if @stylists.size()> 0 %>
  <h3>Stylist List:</h3>
  <ul>
    <% @stylists.each() do |stylist| %>
      <li><a href="/stylists/<%= stylist.id %>"><%= stylist.name %></a></li>
    <% end %>
  </ul>
<% end %>
